# ============================================
#  Keil MDK-ARM 编译产物
# ============================================
MDK-ARM/OLED/
MDK-ARM/Objects/
MDK-ARM/Listings/
*.o
*.crf
*.d
*.axf
*.elf
*.bin
*.hex
*.lnp
*.map
*.dep
*.lst
*.htm
*.iex
*.sct
*.bak
*.build_log.htm

# ============================================
#  Keil 个人配置（本机窗口布局 / 用户名）
# ============================================
*.uvguix.*
*.uvguix

# ============================================
#  编辑器 / 系统垃圾文件
# ============================================
.vscode/
.idea/
*.log
*.lock
hs_err_pid*.log
